$white: #ffffff;
$main-font-family: "Poppins", "Helvetica Neue", Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$main-font-size: 1.6rem;
$main-line-height: 1.6875;
$main-font-color: #323232;
$links-main-theme-color: #F78434;
$links-second-theme-color: #58BEBF;
$links-secondary-color: $white;
$links-third-color: #BBBBBB;

